* {
  box-sizing: border-box;
}
.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that app's content doesn't overlap the toolbar */
  -webkit-box-shadow: 0px -1px 8px 5px rgba(0,0,0,0.78);
  box-shadow: 0px -1px 8px 5px rgba(0,0,0,0.78);
}

mat-drawer-container, mat-drawer-content { display: block; height: 100%; }
mat-drawer {
  width: 200px;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}
mat-drawer-backdrop {
  position: fixed !important;
}

.spacer {
  flex: 1 1 auto;
}

/*mat-drawer-container {
  height: 92.6%;
}
mat-drawer {
  background-color: #7986cb;
  color: white;
  width: 250px;
  padding: 10px;
}*/
