<div *ngIf="!loading" class="container mt-5">
  <div @largeFade class="d-flex">
    <h1 class="diagonal-bottom-right" style="font-size: 2rem">Carles Ramos</h1>
    <small class="ms-1 left-to-right"> Software Developer</small>
  </div>
  <hr>
  <div class="row mt-4 p-4">
    <div class="col-md-2">
      <img src="/assets/images/jo.jpg" alt="Mi imagen" class="rounded-circle" style="width: 200px; height: 200px">
    </div>
    <div class="col-md-8 text-middle lh-sm">
      <div class="w-100 left-to-right">
        <span class="text-big">{{ 'welcome' | translate }}</span>
        <hr>
      </div>
      <div class="p-3 border-color">
        <p>{{ 'homeContentHeader' | translate }}</p>
        <p>{{ 'homeContentContent' | translate }}</p>
        <p>{{ 'thanks' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center mt-2">
      <hr>
      <app-chip-list></app-chip-list>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <mat-icon class="text-big">facebook</mat-icon>
  </div>
</div>
