html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

.back-gradient {
  background: rgb(0,0,0);
  background: -moz-radial-gradient(circle, rgba(0,0,0,1) 31%, rgba(86,16,101,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 31%, rgba(86,16,101,1) 100%);
  background: radial-gradient(circle, rgba(0,0,0,1) 31%, rgba(86,16,101,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#561065",GradientType=1);
}

// Containers
.w-100 {
  width: 100%;
}
// End Containers

// Text
.text-super {
  font-size: 6rem;
}
.text-big {
  font-size: 3rem;
}
.text-middle {
  font-size: 1.5rem;
}
.text-normal {
  font-size: 1rem;
}

hr {
  color: white;
}

@media only screen and (max-width: 600px) {
  // Text
  .text-super {
    font-size: 4rem;
  }
  .text-big {
    font-size: 2rem;
  }
  .text-middle {
    font-size: 1.2rem;
  }
  .text-normal {
    font-size: 1rem;
  }
  // End Text
}


@keyframes example1 { // EXAMPLE
  0% { color: red; margin-left: 80%; margin-top: 80%}
  25% { color: green; margin-left: 60%; margin-top: 60%;}
  50% { color: yellow; margin-left: 40%; margin-top: 40%;}
  75% { color: #0d6efd; margin-left: 20%; margin-top: 20%;}
  100% { color: white}
}
